{% extends 'background.html' %}
{% load static i18n %}
{% block head_title %}
    Institucional - Instituto ISAR
{% endblock head_title%}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock extra_head %}
{% block content %}
    <main>
        <div class="section introduction about-banner">
            <h1>Institucional</h1>
        </div>
        <div class="section about">
            <img class='img-about' src="{% static 'img/atendimento.jpg' %}" alt="">
            <div class="text-box">
                <p class='text justify'><e class='green'>O Instituto Socioambiental Renovar desenvolve atividades socioeducativa</e> voltadas para pessoas de todas as idades, com um foco especial em crianças e adolescentes em situação de vulnerabilidade social.
                </p>
                <p class='text justify'>Através de programas educativos, culturais e esportivos, o instituto busca promover a inclusão, o fortalecimento de valores como cidadania e respeito aos direitos humanos, e oferecer oportunidades de desenvolvimento pessoal e profissional.</p>
            </div>
        </div>
        <div class="section about gray">
            <div class="text-box">
                <p class='text justify'><e class='light-green'>Com suas ações, o Instituto ISAR visa proporcionar um futuro mais justo e igualitário</e> para indivíduos de diferentes faixas etárias, contribuindo para a construção de uma sociedade mais inclusiva e consciente.
                </p>
                <p class='text justify'> </p>
            </div>
            <img class='img-about' src="{% static 'img/diferencial.jpg' %}" alt="">
        </div>
        <div class="mission">
            <div class="valores-box">
                <p class='valores justify'><b class='green'>Missão</b> <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
                <p class='valores justify'><b class='green'>Visão</b> <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi, sed vulputate ipsum venenatis.</p>
                <div class="valores justify"><b class='green'>Valores</b> 
                    <ul>
                        <li>Lorem ipsum dolor</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Lorem ipsum dolor</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
        <div class="finally">
            <p class='text green'><b>"Comprometidos em facilitar sua jornada na compra e venda de imóveis, garantimos as melhores soluções para você."</b></p>
        </div>
        -->
    </main>
{% endblock content %}