{% extends 'background.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Governança - Instituto ISAR' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/governanca.css' %}">
{% endblock extra_head %}
{% block content %}
    <main>
        <div class="section introduction governanca-banner">
            <h1>Governança</h1>
        </div>
        <div class="section governanca">
            <h2>Direção</h2>
            <div>
                <p>Diretora Presidente: Karina Silva Santos</p>
                <p>Diretora Financeira: Lara Santos Amorim</p>
                <p>Diretor Administrativo: Leonardo Santana Santos</p>
            </div>
            <h2>Conselho Fiscal</h2>
            <div>
                <p>Presidente: José Henrique Falck Silva</p>
                <p>Conselheiro: Romualdo Carlos dos Santos Esquivel</p>
                <p>Conselheiro: Cláudio Henrique Falck Silva</p>
            </div>
            <h2>Conselho Administrativo</h2>
            <div>
                <p>Presidente: Joabe de Souza Barros</p>
                <p>Conselheiro: Felipe Santos Amorim</p>
                <p>Conselheiro: Marcel Sanny Leao de Macedo Silva</p>
                <p>Conselheiro: Evangevaldo Vieira dos Santos</p>
                <p>Conselheiro: Laila Lima de Almeida</p>
                <p>Conselheiro: Juliane Damasceno de Carvalho Neves</p>
                <p>Conselheiro: Mariane Damasceno de Carvalho</p>
            </div>
        </div>
    </main>
{% endblock content%}