{% extends 'background.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Governança - Instituto ISAR' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/governanca.css' %}">
{% endblock extra_head %}
{% block content %}
    <main>
        <div class="section introduction governanca-banner">
            <h1>Governança</h1>
        </div>
        <div class="section governanca">
            <div>
                <h2>Direção</h2>
                <div>
                    <p><b>Diretora Presidente:</b> Karina Silva Santos</p>
                    <p><b>Diretora Financeira:</b> Lara Santos Amorim</p>
                    <p><b>Diretor Administrativo:</b> Leonardo Santana Santos</p>
                </div>
            </div>

            <div>
                <h2>Conselho Fiscal</h2>
                <div>
                    <p><b>Presidente:</b> José Henrique Falck Silva</p>
                    <p><b>Conselheiro:</b> Romualdo Carlos dos Santos Esquivel</p>
                    <p><b>Conselheiro:</b> Cláudio Henrique Falck Silva</p>
                </div>
            </div>
            
            <div>
                <h2>Conselho Administrativo</h2>
                <div>
                    <p><b>Presidente:</b> Joabe de Souza Barros</p>
                    <p><b>Conselheiro:</b> Felipe Santos Amorim</p>
                    <p><b>Conselheiro:</b> Marcel Sanny Leao de Macedo Silva</p>
                    <p><b>Conselheiro:</b> Evangevaldo Vieira dos Santos</p>
                    <p><b>Conselheiro:</b> Laila Lima de Almeida</p>
                    <p><b>Conselheiro:</b> Juliane Damasceno de Carvalho Neves</p>
                    <p><b>Conselheiro:</b> Mariane Damasceno de Carvalho</p>
                </div>
            </div>
        </div>
    </main>
{% endblock content%}