{% extends 'background.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Produtos - Pharma Express' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/imovel.css' %}">
{% endblock extra_head %}
{% block content %}
    <div class="section introduction imoveis-banner">
        <h1>Imóveis</h1>
    </div>
    <section class="product-description">
        <img src="{{ imovel.foto.url }}" alt="">
        <div>
            <h1>{{ imovel.name }}</h1>
            <div class="description">
                <div>
                    <p><b>Tipo:</b> {{ imovel.tipo }}</p>
                    <p><b>Endereço:</b> {{ imovel.logradouro }}, {{ imovel.numero }} - {% if imovel.complemento %}{{ imovel.complemento }} -{% endif %} {{ imovel.bairro }}, {{ imovel.cidade }}/{{ imovel.estado }} - CEP: {{ imovel.cep }}</p>
                    <p><b>Região:</b> {{ imovel.regiao }}</p>
                    <p><b>Área:</b> {{ imovel.area}} m²({{ imovel.largura }}m X {{ imovel.comprimento }}m)</p>
                </div>
            </div>
        </div>
    </section>
    <section class="sugestions">
        <h2>Imóveis Relacionados</h2>
        <div class="section relacionados">
            {% if sugestions %}
                {% for imovel in sugestions %}
                <a href="{% url 'imovel' imovel.id %}">
                    <div class="product">
                        <img src="{{ imovel.foto.url }}" alt="">
                        <div>
                            <p>{{ imovel.tipo }}</p>
                            <h4>{{ imovel.name }}</h4>
                            <p>{{ imovel.cidade }}/{{ imovel.estado }}</p>
                            <p>{{ imovel.regiao }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% else%}
                <h1>Não há produtos cadastrados</h1>
            {% endif%}
        </div>
    </section>
{% endblock content %}