<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rockefeller Ambiental</title>
    <link rel="stylesheet" href="../src/css/manutencao.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans:wght@400;700&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">Nosso Website está em manutenção</h1>
        <img class="img" src="../src/img/obras.png">
        <h2 class="text">Em breve você poderá conhecer a Rockefeller por aqui. Fique Ligado!</h2>
        <button class="button-submit" type="submit" onclick="window.location.href ='../index.html'">Voltar para a home</button>
    </div>
</body>
</html>