main{
    background-color: #f7f7f7;
}

.section.introduction.programas-banner{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../img/Produtos.jpg);
    background-position-x: center;
    background-position-y: center;
}

.section.aviso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.section.programas{
    display: grid;
    min-height: 300px;
    background-color: #f7f7f7;
    padding: 30px 7%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    align-items: start;
}

.section.projetos{
    padding: 80px 7%;
}

.section.projetos h3{
    font-family: 'Jumper';
}

.projetos .projetos-container{
    display: grid;
    min-height: 300px;
    background-color: #f7f7f7;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    align-items: start;
}

.programa{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all ease;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.2);
    min-height: 300px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
}

.programa h4{
    color: #fff;
    font-family: 'Jumper';
    font-weight: 500;
    text-decoration: none;
}

.intro{
    padding: 80px 7% 0;
}

.programa-info .text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 7%;
}

.programa-info .text .sobre{
    width: 50%;
}

.programa-info .text img{
    width: 40%;
}

.programa-info .text h3{
    font-family: 'Jumper';
}

.areas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 7%;
    background-color: #259460;
}

.areas h3{
    font-family: 'jumper';
    color: #fff;
    margin-bottom: 20px;
}

.areas .areas-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
}

.area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area img{
    max-width: 100px;
}

.area p{
    font-weight: 700;
    color: #fff;
}

.product p{
    color: #888;
    font-size: 12px;
}

.product:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 30px 70px 0;
}
