.section.projeto{
    display: flex;
    flex-direction: column;
    padding: 80px 7%;
    gap: 80px;
}

.projeto .projeto-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projeto-info .sobre{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

.projeto-info .sobre h3{
    color: #259460;
    font-family: 'Jumper';
    font-weight: 500;
}

.projeto .objetivos h3{
    color: #20512E;
    font-family: 'Jumper';
    font-weight: 500;
}

.projeto .objetivos {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 15px;
}

.projeto .fotos-projeto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.projeto .fotos-projeto h3{
    color: #20512E;
    font-family: 'Jumper';
    font-weight: 500;
}

.projeto-info img{
    width: 40%;
}

.galery-wrapper {
    min-width: 100%;
    position: relative;
    overflow-x: auto;
}
.galery-wrapper::-webkit-scrollbar {
    width: 1px; /* Largura da barra de rolagem vertical */
    height: 1px; /* Altura da barra de rolagem horizontal */
}

.galery {
    position: relative;
    width: 300%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.galery-wrapper2 {
    width: 95%;
    position: relative;
    overflow-x: auto;
    min-height: 200px;
}

.galery-wrapper2::-webkit-scrollbar {
    width: 1px; /* Largura da barra de rolagem vertical */
    height: 1px; /* Altura da barra de rolagem horizontal */
}

.galery2 {
    position: relative;
    width: 456px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 15px;
}

.galery2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galery2 div h4{
    color: #545454;
    text-align: center;
}

.galery2 div img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.fotos {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden; /* Adicione isso para esconder as fotos que estão fora da visão */
    max-width: 600px;
}

.fotos-galery {
    border-radius: 15px;
}

.foto-galery {
    display: flex;
    transition: transform 0.5s ease; /* Para animação de transição suave */
    width: 100%;
    border-radius: 15px;
}

.foto {
    position: relative;
    min-width: 100%; /* Cada item ocupará 100% da largura da galeria */
    box-sizing: border-box;
}

.foto img {
    width: 100%; /* A imagem vai ocupar 100% da largura do contêiner .foto */
    height: auto;
    margin: 0;
}

.foto p{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
    border-radius: 0 0 30px 30px;
    color: #fff;
    padding: 20px 20px;
}