*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kobenhavn W01 Regular';
}

header{
    min-height: 90px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 12px #00000029;
    position: fixed;
    z-index: 10000;
    transition: 1s all ease;
    padding: 1% 2%;
}

p{
    margin: 0;
}

header .container-fluid{
    flex-direction: row;
    width: 100%;
    min-height: 90px;
}

.container-fluid .row{
    min-height: 90px;
}

.navbar-nav{
    width: 100%;
}

.nav-link{
    font-weight: 900;
    color: #259460;
    transition: all ease 1s;
}

.nav-link a{
    text-decoration: none;
    transition: all ease 1s;
}

.nav-link:hover{
    color: #20512E;
    transform: scale(1.1);
}

.logo{
    width: 100%;
    max-width: 250px;
}
nav{
    justify-self: center;
    width: 100%;
}
nav ul{
    padding: 0;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
    list-style: none;
    text-align: center;
}

.navbar-brand{
    width: 30%;
}

h1{
    font-family: 'Jumper';
}

main{
    width: 100%;
}

.section {
    min-height: 500px;
}

.section.introduction{
    padding: 15% 10% 10%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 575px;
    z-index: 999;
    height: 95vh;
    background-image: url(../img/Section_intro.png);
}

.initial-banner div{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #fff;
    opacity: 0.9;
}

.initial-banner .div1{
    left: 0;
    clip-path: polygon(15% 0%, 100% 0%, 65% 100%, -30% 100%)
}

.initial-banner .div2{
    right: 0;
    clip-path: polygon(100% 100%, 100% 0%, 100% 0%, 75% 100%);
}

.section.introduction h1{
    color: #fff;
    font-size: 2.5em;
    margin: 0;
}

.title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section.introduction p{
    color: #fff;
}

.section.introduction.initial-banner h1{
    width: 350px;
}

.section.blog{
    height: 70vh;
    display: grid;
    grid-template-rows: 30px 0px;
    padding: 80px;
    background-color: #d9d9d9;
}

.line{
    width: 220px;
    border: 1.7px solid #000000;
    margin-top: 20px;
}

.msg {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.margin{
    margin-bottom: 40px;
    text-align: center;
}

.text-about{
    margin: 20px 0 0;
    font-size: 1em;
    text-align: justify;
}

.section.team {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 10% 50px 10%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position-x: calc(0vw - 400px);
    background-position-y: center;
    background-size: contain;
}
.section.team .fraction {
    background-color: #fff;
    position: absolute;
    left: 15%;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 3px 50px #00000029;
}

.img-home{
    width: 100%;
    min-height: 200px;
}

.title {
    display: flex;
    font-size: 2.2em;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
}

.title.blog{
    justify-content: left;
}

.title-contact{
    margin-bottom: 40px;
    font-size: 2em;
    font-weight: 900;
}

.section.information{
    min-height: 300px;
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section.information > .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    width: 35%;
    height: auto;
    aspect-ratio: 1/0.65;
    background-color: #d9d9d9;
    padding: 4%;
    border-radius: 30px;
}

.icon.redes{
    cursor: pointer;
    transition: 1s all ease;
}

.icon.redes:hover{
    opacity: 0.7;
    transform: scale(1.2);
}

.icon-contact.redes{
    cursor: pointer;
    transition: 1s all ease;
}

.icon-contact.redes:hover{
    opacity: 0.7;
    transform: scale(1.2);
}

.imoveis{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -95%, #000000 115.04%), url(../img/imoveis.jpg);
    background-size: cover;
    color: #fff;
    font-weight: 900;
}

.projetos{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%), url(../img/Projetos.png);
    background-size: cover;
    color: #fff;
    font-weight: 900;
}

footer{
    position: relative;
    z-index: 999;
    align-self: flex-end;
    background-color: #fff;
    color: #000;
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.1);
}

footer .container{
    width: 100%;
    max-width: 100%;
    display: grid;
    padding: 4% 10% 2%;
    margin: 0;
    grid-template-columns: 1fr 1fr;
}

.title-footer{
    font-family: "Inter", sans-serif;
}

h2.title-footer{
    color: #20512E;
    font-weight: 700;
    font-size: 24px;
    margin-left: 30px;
    margin-bottom: 20px;
}

h3.title-footer{
    color: #000;
    font-weight: 700;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.map{
    border-radius: 15px;
    margin-top: 15px;
}

.contact{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.contact p{
    font-size: 14px;
    font-weight: 900;
    color: #000;
    margin: 0;
}

.contact-list .contact a{
    font-weight: 900;
    max-width: 455px;
    width: 100%;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.contact a{
    font-weight: 900;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.contact a:hover{
    color: #20512E;
    text-decoration: none;
}

img{
    width: 100%;
}

.contact-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.division{
    display: flex;
    flex-direction: column;
    padding: 3% 0;
}

.division.right{
    border-left: 1px solid #000;
    padding-left: 10%;
}

.right .klx_logo{
    margin: 30px ;
    max-width: 220px;
}

.top{
    margin-top: 50px;
}

.light-green{
    color: #259460;
}

.green{
    color: #20512E;
}

.map-contact{
    width: 300px;
    height: 175px;
    border-radius: 15px;
}

.copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0 40px 0;
    background-color: #259460;
    color: #fff;
    font-weight: 900;
    text-align: center;
}

.link{
    text-decoration: none;
    text-emphasis: none;
    opacity: 1;
    transition: all ease 0.3s;
    cursor: pointer;
}

.link:hover{
    opacity: 0.7;
}

.link-black{
    text-decoration: none;
    text-emphasis: none;
    opacity: 1;
    transition: all ease 0.3s;
    cursor: pointer;
    color: #000000;
}

.link-black:hover{
    opacity: 0.7;
}

.noticias .container{
    position: relative;
    max-width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.noticias{
    background-color: #fff;
    min-height: 600px;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    padding-bottom: 10%;
}

.noticias .aviso{
    align-self: center;
    justify-self: center;
    color: #20512E;
}

.noticias h1{
    margin: 80px 10% 20px;
    font-size: 32px;
    color: #20512E;
}

.noticias .line{
    margin: 0px 10% 40px;
    width: 245px;
    border: 1px solid #20512E;
}

.sugestao.noticia.thumb {
    object-fit: cover;
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0 0;
    margin-bottom: 15px;
    align-self: center;
    aspect-ratio: 1 / 0.5;
}

.noticia {
    min-height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: transparent;
    cursor: pointer;
    text-decoration: none;
}

.slide .noticia{
    width: 100%;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: transparent;
    cursor: pointer;
}

.noticia h4{
    max-width: 300px;
    color: #20512E;
    font-size: 20px;
    font-weight: 900;
    margin: 0 5% 10px;
}

.noticia p{
    color: #888;
    margin-left: 5%;
    font-size: 11px;
}

.noticia a {
    width: 100%;
    text-decoration: none;
    height: 70%;
}

.noticia,
.noticia h4,
.noticia p {
    transition: color 0.2s ease;
}

.noticia:hover,
.noticia:hover h4,
.noticia:hover p {
    color: #B08A4F;
}

.thumb{
    object-fit: cover;
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0 0;
    margin-bottom: 15px;
    align-self: center;
    aspect-ratio: 1 / 2;
}

