.transparencia-banner.section.introduction{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -30%, #000000 98.04%), url(../img/transparencia-banner.jpg);
    background-size: cover;
}

.transparencia-banner .line{
    width: 120px;
    height: 1px;
    border: 1.7px solid #fff;
    margin: 0 30px
}

.transparencia-banner .title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.documentos{
    padding: 5% 10%
}

.dropdown {
    width: 100%;
    cursor: pointer;
    color: #20512E;
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #F1F1F1;
    transition: all ease 0.5s;
}

.dropdown:hover {
    color: #259460;
}

.border{
    border: 1px solid #ffffff;
}

.dropdown-content {
    width: 100%;
    display: none;
    padding: 0 10px; /* Início com padding 0 para transição suave */
    border-top: 1px solid #F1F1F1;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    border-top: none;
    background-color: #CCC8C8;
    overflow: hidden; /* Adicionar overflow escondido para transição suave */
    max-height: 0;
    transition: 0.2s all ease;
    flex-direction: column;
}

.dropdown-content.open {
    max-height: 500px; /* Ajustar conforme necessário */
    padding: 25px; /* Restaurar padding para transição suave */
    gap: 15px;
}

.doc-link{
    color: #000;
    text-decoration: none;
}

.doc-link:hover{
    color: #20512E;
    text-decoration: underline;
}